body {
    padding: 30px;
}

.container {
    position: relative;
    top:50px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #dddddd;
    
}

.container img {
    float: left;
    margin-right: 12px;
    margin-bottom: 12px;
    width: 120px;
    height: 120px;
}

h1 {
    position: absolute;
    background-color:#4aaaa5;
    top: 0;
    left:30px;
}

h2 {
    color: #4aaaa5;
}
.nav {
    position: absolute;
    top: 20px;
    right: 50px;
    padding: 10px;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    display: inline;
}

.nav ul li {
    display: inline-grid;
    margin-right: 30px;
}

    
.footer{
    width: 100%;
    background-color: #666666;
    
}